@font-face{
    font-family: 'OldEnglish';
    src: url('./Old English Five.ttf');
}

.brand-logo{
    display: block;
    font-family: "OldEnglish";
    text-align: center;
    margin: .5%;
    color:black !important;
}
nav{
    height: 130px;
    background-image: url("./imgs/new-york-2753807_1280.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.image{
    width: 25%;
    height: 70%;
    margin-left: 15%;
    
}