@font-face{
    font-family: 'OldEnglish';
    src: url('./Old English Five.ttf');
}
nav{
    background-color: rgb(53, 71, 71);
    background-image: url("./imgs/new-york-2753807_1280.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .brand-logo{
    display: block;
    font-family: "OldEnglish";
    font-size-adjust: inherit;
    text-align: center;
    margin: 0.1%;
    color:black !important;
    line-height: 75px;
    min-width: 150px;
} */
/* nav{
    min-height: 135px;
    width: 85%;
    background-color: rgba(180, 178, 175, 0.534);
    margin: auto;
} */
img{
    width: 300px;
    height: 300px;
}